.QuestionMain{

width: 90%;
height: 100%;
/* margin-top: 1rem; */
/* background-color: aquamarine; */

}
.QuestionCard{
    /* background-color: rgb(202, 129, 18); */
    height: auto;
    margin-bottom: 1.3rem;
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;    
}

.QuestionCard > .DQ1{

/* background-color: aliceblue; */
display: flex;
justify-content: space-between;
padding: 10px;

}

.QuestionCard > .DQ3{


/* background-color: rgb(255, 168, 127); */

display: flex;
align-items: center;
justify-content:space-between;
padding: 2px;
}

.DQ3 > div > button{

border: none;
border-radius: 10px;
padding: 3px;

}
.DQ3 > div{
    /* background-color: blanchedalmond; */
    width: 50%;
    /* border: 1px solid saddlebrown; */
}



.DQ31{

display: flex;
justify-content: space-around;

}
.DQ32{

 display: flex;
 justify-content: flex-end;   

}
@media only screen and (max-width: 600px) {

    .QuestionMain{

        width: 95%;

    }   



}